<!DOCTYPE html>
<html>
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>test page</title>
    <script>
        var DEV = {{ DEV }};
    </script>

    {% if DEV == 0 %}
        <script src="/build/{{ tpl }}.js"></script>
    {% else %}
        <script src="/jspm_packages/system.js"></script>
        <script src="/config.js"></script>
        <script>
            {% if lang == 'ru' %}
                System.config({
                    njOptions: {
                        "beforePrecompile": {
                            "helpers/localizer": "ru"
                        },
                        "rootDir": "tpl"
                    }
                });
            {% endif %}
            System.import('pages/{{ tpl }}');
        </script>
    {% endif %}
</head>
<body>
</body>
</html>
